:root {
    --background-colour: WhiteSmoke;
    --text-colour: #222222
}

body {
    background: var(--background-colour);
    font-family: Verdana,Geneva,sans-serif;
    font-size: 120%;
    line-height: 1.4;
    color: var(--text-colour);
}

div#container {
    display: flex;
    flex-direction: row;
    justify-co: space-between;
}

div.ctrl {
    display: flex;
    flex-direction: row;
    /* align-items: stretch; */
    justify-content: space-between;
    border: 1px solid black;
    margin: 3px;
}

input[type="number"]{
    width: 3em;
}

input:disabled {
    display: none;
}

div#preview {
    align-self: center;
    justify-self: center;
}

input {
    margin: 1%;
}

button {
    outline:none;
}

/* Use a margin if we're viewing on a big enough screen */
@media only screen and (min-width: 800px) {
    header,
    footer,
    article {
        padding: 1%;
        margin: 0 20%;
    }

    body {
        font-size:100%;
    }
}
